#title-bar {
    background-color: #097F21;
    height: 60px;
}

#title {
    color: #FFFFFF;
}

#player, #status {
    height: 100px;
}

#player1Card, #player2Card, #resultsCard {
    max-width: 250px;
    max-height: 250px;
    width: 58%;
    background-color: #140B7B;
    color: #FFFFFF;
}

.rpsImage {
    width: 100%;
    height: auto;
}

.rpsText {
    font-weight: 700;
    font-size: 1.25rem;
    color: #FFFFFF;
    background-color: #097F21;  
    border-radius: 0; 
    height: 55px;
}

.ps {
    border-top: 1px solid #140B7B;
}

#p1WL, #p2WL {
    background-color: #140B7B;
    color: #FFFFFF;
    height: 30px;
    margin-bottom: 0;
}

#p1Display, #p2Display {
    height: 170px;
}

.rpsText:hover {
    border: 1px solid #140B7B;
}

.userName {
    font-weight: bold;
    height: 45px;
}

#messageText {
    height: 125px;
    border: 1px solid #140B7B;
    overflow-y: auto;
}

#messageInput, #userNameInput {
    border: 1px solid #8E0804;
}

.message1 {
    margin: 0 1rem;
    color: #140B7B;
}

.message2 {
    margin: 0 1rem;
    color: #8E0804;
}

.message {
    margin: 0 1rem;
}

/* @media screen and (max-width: 575px) {

    #player, #status {
        height: 60px;
    }

    #winner {
        font-size: 1.5rem;
    }

    #title-bar {
        height: 36px;
    }

    #title {
        font-size: 1.5rem;
    }
    
    #player1Card, #player2Card, #resultsCard {
        max-height: 160px;
    }

    .rpsText {
        font-size: 1rem;
        height: 32px;
    }

    #p1WL, #p2WL {
        font-size: 0.4rem;
        height: 20px;
    }

    .userName {
        font-size: 0.75rem;
        height: 33px;
    }
    
} */

@media screen and (min-width: 576px) and (max-width: 767px) {

    #winner {
        font-size: 1.5rem;
    }

    #player, #status {
        height: 80px;
    }

    #title-bar {
        height: 48px;
    }

    #title {
        font-size: 2rem;
    }
    
    #player1Card, #player2Card, #resultsCard {
        max-height: 166px;
    }

    .rpsText {
        font-size: 1rem;
        height: 33px;
    }

    #p1WL, #p2WL {
        font-size: 0.5rem;
        height: 20px;
    }

    .userName {
        font-size: 0.85rem;
        height: 36px;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 991px) {

    #player1Card, #player2Card, #resultsCard {
        max-height: 196px;
    }

    .rpsText {
        font-size: 0.75rem;
        height: 43px;
    }

    #p1WL, #p2WL {
        font-size: 0.75rem;
        height: 25px;
    }

    .userName {
        font-size: 1rem;
        height: 40px;
    }
    
}
